/obsidian/
/session/
/VScodium/
/Cursor/
!/Code/User/settings.json
/Code/
/dconf/
/torbrowser/
/pulse/
/vlc/
/nextjs-nodejs/
*.log
*.bak
/create-next-app-nodejs/
baloofileinformationrcashrc
ktrashrc
dolphinrc
kdeglobals
kiorc
baloofileinformationrc
kservicemenurc
