/obsidian/
/session/
/VScodium/
/Cursor/
!/Code/User/settings.json
/Code/
/dconf/
/torbrowser/
/pulse/
/vlc/
/VeraCrypt/
/go/
/Electron/
/VirtualBox/
/YouTube Music/
/nextjs-nodejs/
*.log
*.bak
/create-next-app-nodejs/
baloofileinformationrcashrc
ktrashrc
dolphinrc
kdeglobals
kiorc
baloofileinformationrc
kservicemenurc
user-dirs.dirs
user-dirs.localede.org
user-dirs.locale
trashrc
