@import "gruvbox.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 700;
}

window#waybar {
  background: rgba(40,40,40,0.9);
}

window#waybar.empty #window {
  background: none;
  opacity: 0;
}

#window {
  padding: 0 12px;
  background-color: @bg0;
  font-weight: bold;
  transition: none;
  color: #fbf1c7;
}

#pulseaudio,
#network,
#temperature,
#battery,
#memory,
#clock,
#mpris,
#custom-powermenu{
  padding: 0 12px;
  color: @fg1;
}

#clock{
  font-family: "";
}

#battery{
  margin-right: 8px;
}

#workspaces {
  margin-left: 16px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  border-radius: 0;
  padding: 0;
}

#workspaces button {
  color: @fg1;
  padding: 1 2px;
  margin-right: 4px;
  margin-bottom: 3px;
  margin-top: 2px;
  border-radius:5px;
  min-height: 0;
  transition: 0.3s;
}

#workspaces button.empty {
  color: @bg4;
}

#workspaces button.active {
  background-color: @green;
  box-shadow: 2px 2px 1px 0px #696812;
}

#workspaces button:hover {
  background-color: @green;
  box-shadow: 2px 2px 1px 0px #696812;
}

#workspaces button.empty:hover {
  color: @bg0;
}
#workspaces button.active:hover {
  color: @bright_green;
}

#workspaces button.empty.active {
  color: @bg0;
}

#image {
  border-radius: 2px;
}

#mpris{
  border-radius: 4px;
  padding: 0 6px;
  margin: 3px;
  margin-top:2px;
  color: @yellow;
  transition: 0.3s;
}

#mpris:hover {
  box-shadow: 2px 2px 1px 0px #9e7119;
  background-color: @yellow;
  color: @bg0;
}

#battery.charging {
  color: @green;
}

@keyframes blink {
  to {
    color: @red;
  }
}

/* Using gteps() instead of linear as a timing function to limit cpu usage */
#temperature.critical,
#battery.critical:not(.charging) {
  color: @fg0;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: steps(20);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

