@import "gruvbox.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 700;
}
window#waybar {
  background: transparent;
  border-radius: 13px;
}

window#waybar.empty #window {
  background: none;
  opacity: 0;
}

#window {
  padding: 0 13px;
  background-color: @bg0;
  font-weight: bold;
  transition: none;
  color: #fbf1c7;
}

#pulseaudio,
#network,
#temperature,
#battery,
#memory,
#clock,
#mpris,
#workspaces,
#custom-powermenu{
  box-shadow: 2px 2px 1px #111111;
  background-color: @bg0;
  border-radius: 5px;
  color: @fg0;
  margin:4px;
  padding: 0 10px;

}


#custom-powermenu{
  box-shadow: 2px 2px 1px rgb(141, 24, 20);
  background-color: @red;
  padding-left: 8px;
  padding-right: 11px;
  color: @fg0;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: transparent
}


#workspaces {
  padding: 0 0;
  background-color: transparent;
  box-shadow: none;
}

#workspaces button {
  padding: 0 5px;
  color: @fg0;
}

#workspaces button:hover {
  background: inherit;

  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  color: @bg0;
  background-color: @bright_blue;
  box-shadow: none;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: @red;
  color: @fg0;
  box-shadow: 2px 2px 1px rgb(141, 24, 20);
}

#workspaces button.empty{  
  background: inherit;
  box-shadow: none;
}

#workspaces button.active {
  box-shadow: 2px 2px 1px rgb(115, 115, 12);
  background-color: @green;
  color: @bg0;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 5px;

}

#mpris{
  background-color: @yellow;
  box-shadow: 2px 2px 1px rgb(170, 120, 8);
  margin-left: 4px;
  padding: 0 15px;
  color: @bg0;
}

#battery.charging{
  box-shadow: 2px 2px 1px rgb(115, 115, 12);
  background-color: @green;
  color: @bg0;
}

#network.disconnected{
  background-color: @red;
  box-shadow: 2px 2px 1px rgb(141, 24, 20);
  color: @fg0;
}

@keyframes blink {
  to {
    color: @fg0;
  }
}

/* Using gteps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @red;
  box-shadow: 2px 2px 1px rgb(141, 24, 20);
  color: @red;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

