@import "gruvbox.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 700;
}

window#waybar {
  background: rgba(40,40,40,1);
}

window#waybar.empty #window {
  background: none;
  opacity: 0;
}

#window {
  padding: 0 12px;
  background-color: @bg0;
  font-weight: bold;
  transition: none;
  color: #fbf1c7;
}

#pulseaudio,
#network,
#temperature,
#battery,
#memory,
#clock,
#mpris,
#custom-powermenu{
  padding: 0 12px;
  color: @fg1;
}

#clock{
  font-family: "";
}

#battery{
  margin-right: 8px;
}

#workspaces {
  margin-left: 16px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  border-radius: 0;
  padding: 0;
}

#workspaces button {
  color: @fg1;
  padding: 0 2px;
  min-height: 0;
  border-bottom: 2px solid transparent;
}

#workspaces button.empty {
  color: @bg4;
}

#workspaces button.active {
  color: @green;
  border-bottom: 2px solid @green;
}

#mpris{
  color: @yellow;
}

#battery.charging{
  color: @green;
}

@keyframes blink {
  to {
    color: @red;
  }
}

/* Using gteps() instead of linear as a timing function to limit cpu usage */
#temperature.critical,
#battery.critical:not(.charging) {
  background-color: @bg0;
  color: @fg0;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-timing-function: steps(6);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

